body {
  margin: 0;
  background: var(--wt-color-dark);
}

h1 {
  margin: 0 0 48px 0;
}

.layout {
  min-height: 100vh;
}

.text {
  opacity: .6;
}

.content {
  margin: 64px auto 0;
  position: relative;
  max-width: 996px;
}

.column {
  max-width: 400px;
}

.player {
  width: 390px;
  height: 390px;
  border: 1px solid var(--wt-color-white-10);
  background-color: var(--wt-color-grey-dark);
  border-radius: 0;
  transition: all 700ms ease-in-out;
  position: relative;
}

.player.success-animation {
  border-radius: 300px;
  transform: scale(.01);
}

.player video, .player__sm video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.player__sm {
  border: 1px solid var(--wt-color-white-10);
  background-color: var(--wt-color-grey-dark);
  border-radius: 0;
  transition: none;
  width: calc(100vw - 32px);
  height: calc(100vw - 32px);
  position: relative;
}

.recorder__lg {
  position: absolute;
  right: 0;
  top: 0;
}

.recorder-container {
  text-align: center;
}

.recorder-container__sm {
  margin-right: 0;
  max-width: none;
  text-align: center;
}

.timer {
  width: 100%;
  height: 12px;
  background-color: var(--wt-color-white-10);
  overflow: hidden;
  margin: 16px 0;
  opacity: 0;
  transition: opacity 400ms;
}

.timer__running {
  opacity: 1;
}

.timer .bar {
  background-color: var(--wt-color-white);
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition-property: all;
  transition-duration: 10s;
  transition-timing-function: linear;
}

.timer .bar__running {
  transform: translateX(0%);
}

.button__record {
  background-color: var(--wt-color-error) !important;
}

.record-icon {
  fill: var(--wt-color-error) !important;
}

.loading-state-report .react-spinner-material {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -100px;
  margin-top: -100px;
  border-color: var(--wt-color-white-10) !important;
  z-index: 300;
}

.loading-state-report {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100%;
  text-transform: capitalize;
}

.not-supported {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.not-supported button {
  margin: 40px;
}

.mute-button {
  position: absolute !important;
  left: 12px;
  bottom: 12px;
  opacity: 1;
}

.mute-button.mute-button__muted {
  opacity: 0;
}

.player:hover .mute-button {
  opacity: 1;
}

.not-supported.mobile {
  display: none;
}

@media (hover: none) {
  .not-supported.desktop {
    display: none;
  }
}
